mkdocs[i18n]==1.6.*
mkdocs-material[imaging]==9.*
mkdocs-glightbox
mkdocs-git-revision-date-localized-plugin==1.2.*
mkdocs-static-i18n[material]==1.2.*
mkdocs-awesome-nav==3.*
mkdocs-macros-plugin==1.0.*
